@font-face {
	font-display: swap;
	font-family: 'Fira Code';
	font-style:  normal;
	font-weight: 400;
	src: url("../fonts/FiraCode-Regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: 'Fira Code';
	font-style:  normal;
	font-weight: 800;
	src: url("../fonts/FiraCode-Bold.woff2") format("woff2");
}


@font-face {
	font-display: swap;
	font-family: 'Mukta';
	font-style:  normal;
	font-weight: 400;
	src: url("../fonts/Mukta-Regular.woff2") format("woff2");
	unicode-range: U+0900-097F, U+A8E0-A8FF;  /* Devanagari char ranges. */
}

@font-face {
	font-display: swap;
	font-family: 'Mukta';
	font-style:  normal;
	font-weight: 800;
	src: url("../fonts/Mukta-Bold.woff2") format("woff2");
	unicode-range: U+0900-097F, U+A8E0-A8FF;  /* Devanagari char ranges. */
}
